<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVPlayerViewControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>041763511DF6B0CB005E03BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0417636A1DF6B0CC005E03BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>041763751DF6B0CC005E03BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
